<section style="background-color: #eee">
  <div class="container py-3">
    @if (department) {
      <div class="row pb-2">
        <div class="col justify-content-center d-flex">
          <h3><span jhiTranslate="inotificareApp.department.detail.title">User</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="https://optimise2.assets-servd.host/learned-skunk/production/Finance-Department-Structure.jpg?w=1152&h=1152&auto=compress%2Cformat&fit=clip&dm=1675129547&s=662fcf3a3a37f2c51888f7cb651f08c2"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3">{{ department.title }}</h5>
              <p class="mb-1">
                <span>{{ department.departmentAdmin?.firstName + ' ' + department.departmentAdmin?.lastName }}</span
                ><br />
                <span jhiTranslate="inotificareApp.department.departmentAdmin" class="text-muted">Department Admin</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="mb-0" jhiTranslate="inotificareApp.department.members"></h5>
                </div>
                @for (members of department.members; track $index; let last = $last) {
                  <hr />
                  <div class="col-sm-8">
                    <a class="mb-0 text-dark" [routerLink]="['/admin/user-management', members.login, 'view']">{{
                      members.lastName + ' ' + members.firstName
                    }}</a>
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="text-center">
              <button type="submit" routerLink="../../" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
              </button>
              <button type="button" [routerLink]="['/departments', department.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </div>
          <jhi-alert-error></jhi-alert-error>
          <jhi-alert></jhi-alert>
        </div>
      </div>
    }
  </div>
</section>
