<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      @if (userProfile) {
        <div>
          <h2><span jhiTranslate="userManagement.profile"></span></h2>
          <hr />
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="userManagement.login"></span></dt>
            <dd>
              <span>{{ userProfile.login }}</span>
            </dd>
            <dt><span jhiTranslate="userManagement.firstName"></span></dt>
            <dd>
              <span>{{ userProfile.firstName }}</span>
            </dd>
            <dt><span jhiTranslate="userManagement.lastName"></span></dt>
            <dd>
              <span>{{ userProfile.lastName }}</span>
            </dd>
          </dl>
        </div>
      }

      <h2><span jhiTranslate="userManagement.notifySettings"></span></h2>
      <hr />

      @if (userProfile?.notifySettings && (userProfile?.notifySettings)!.length > 0) {
        <div class="table-responsive table-entities" id="entities">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr>
                <th scope="col" class="col-md-4">
                  <div class="d-flex">
                    <span jhiTranslate="inotificareApp.notifySettings.channel">Channel</span>
                  </div>
                </th>
                <th scope="col" class="col-md-4">
                  <div class="d-flex">
                    <span jhiTranslate="inotificareApp.notifySettings.status">Status</span>
                  </div>
                </th>
                <th scope="col" class="col-md-4">
                  <div class="d-flex">
                    <span></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              @for (notifySettings of userProfile?.notifySettings; track trackId) {
                <tr data-cy="entityTable">
                  <td>
                    <span>{{ 'inotificareApp.Channel.' + notifySettings.channel | translate }}</span>
                  </td>
                  <td>
                    <span>{{ 'inotificareApp.NotifyChannelStatusEnum.' + notifySettings.status | translate }}</span>
                  </td>
                  <td>
                    @if (hasToken(notifySettings.channel, notifySettings.channelsToken)) {
                      <button class="btn btn-info btn-sm" (click)="changeHidden(notifySettings.channelsToken)">
                        <fa-icon icon="eye"></fa-icon>
                      </button>
                      <span [hidden]="notifySettings.channelsToken?.isHidden == undefined || !notifySettings.channelsToken?.isHidden">
                        {{ notifySettings.channelsToken?.token }}
                      </span>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }

      <div class="mb-3">
        @if (!userProfile?.notifySettings || (userProfile?.notifySettings)!.length == 0) {
          <div jhiTranslate="userManagement.addChannel.noSettings" class="alert alert-info"></div>
        }
        <div class="text-center">
          <button jhiTranslate="userManagement.addChannel.addChannel" type="submit" class="btn btn-info" (click)="addChannel()"></button>
        </div>
      </div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
    </div>
  </div>
</div>
