<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (requestData) {
      <div>
        <h2 data-cy="requestDataDetailsHeading"><span jhiTranslate="inotificareApp.requestData.detail.title">Request Data</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="inotificareApp.requestData.id">Id</span></dt>
          <dd>
            <span>{{ requestData.id }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.channel">Channel</span></dt>
          <dd>
            <span jhiTranslate="{{ 'inotificareApp.Channel.' + requestData.channel }}">{{ requestData.channel }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.recipients">Recipients</span></dt>
          <dd>
            <span>{{ requestData.recipients }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.recipientType">Recipient Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'inotificareApp.RecipientType.' + requestData.recipientType }}">{{ requestData.recipientType }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.priority">Priority</span></dt>
          <dd>
            <span jhiTranslate="{{ 'inotificareApp.Priority.' + requestData.priority }}">{{ requestData.priority }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.content">Content</span></dt>
          <dd>
            <span>{{ requestData.content }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.messageStatus">Message Status</span></dt>
          <dd>
            <span jhiTranslate="{{ 'inotificareApp.MessageStatus.' + requestData.messageStatus }}">{{ requestData.messageStatus }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.createdTime">Created Time</span></dt>
          <dd>
            <span>{{ requestData.createdTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.requestData.templateId">Template Id</span></dt>
          <dd>
            @if (requestData.templateId) {
              <div>
                <a [routerLink]="['/template', requestData.templateId.id, 'view']">{{ requestData.templateId.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/request-data', requestData.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
