<div>
  <h3 id="page-heading" data-cy="DepartmentHeading">
    <span jhiTranslate="inotificareApp.department.home.title">Departments</span>

    <div class="d-flex float-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-department"
        [routerLink]="['/departments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inotificareApp.department.home.createLabel">Create a new Department</span>
      </button>
    </div>
  </h3>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (departments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="inotificareApp.department.home.notFound">No Departments found</span>
    </div>
  }

  @if (departments && departments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="inotificareApp.department.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departmentAdmin.id">
              <div class="d-flex">
                <span jhiTranslate="inotificareApp.department.departmentAdmin">Department Admin</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (department of departments; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ department.title }}</td>
              <td>
                @if (department.departmentAdmin) {
                  <div>
                    {{ department.departmentAdmin.firstName + ' ' + department.departmentAdmin.lastName }}
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/departments', department.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/departments', department.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(department)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (departments && departments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
