<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-channel-user-credentials-heading"
        data-cy="ChannelUserCredentialsCreateUpdateHeading"
        jhiTranslate="inotificareApp.channelUserCredentials.home.createOrEditLabel"
      >
        Create or edit a Channel User Credentials
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="inotificareApp.channelUserCredentials.id" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inotificareApp.channelUserCredentials.chatId" for="field_chatId">Chat Id</label>
          <input type="text" class="form-control" name="chatId" id="field_chatId" data-cy="chatId" formControlName="chatId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="inotificareApp.channelUserCredentials.channel" for="field_channel">Channel</label>
          <select class="form-control" name="channel" formControlName="channel" id="field_channel" data-cy="channel">
            <option [ngValue]="null">{{ 'inotificareApp.Channel.null' | translate }}</option>
            @for (channel of channelValues; track $index) {
              <option [value]="channel">{{ 'inotificareApp.Channel.' + channel | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
