<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    @if (account !== null) {
      <h1 class="display-4"><span jhiTranslate="home.title">Welcome, Java Hipster!</span>(INotificare)</h1>
      <div>
        <div class="alert alert-success">
          @if (account) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
              >You are logged in as user &quot;{{ account.login }}&quot;.</span
            >
          }
        </div>
      </div>
    } @else {
      <div class="greeting-container">
        <h1 class="display-4"><span jhiTranslate="home.title">Welcome, Java Hipster!</span>(INotificare)</h1>
      </div>
    }
  </div>
</div>
