<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (channelUserCredentials) {
      <div>
        <h2 data-cy="channelUserCredentialsDetailsHeading">
          <span jhiTranslate="inotificareApp.channelUserCredentials.detail.title">Channel User Credentials</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="inotificareApp.channelUserCredentials.id">Id</span></dt>
          <dd>
            <span>{{ channelUserCredentials.id }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.channelUserCredentials.chatId">Chat Id</span></dt>
          <dd>
            <span>{{ channelUserCredentials.chatId }}</span>
          </dd>
          <dt><span jhiTranslate="inotificareApp.channelUserCredentials.channel">Channel</span></dt>
          <dd>
            <span jhiTranslate="{{ 'inotificareApp.Channel.' + channelUserCredentials.channel }}">{{
              channelUserCredentials.channel
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/channel-user-credentials', channelUserCredentials.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
